.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: auto;
    display: flex;
}

.buttons {
    flex: none;
}

.gutter {
    background-color: gray;
    cursor: ew-resize;
}