.container {
    width: 100vw;
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
}

.noConfig {
    width: 100vw;
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}

.mainContent {
    flex: auto;
    display: flex;
}

.buttons {
    flex: none;
    text-align: right;
    padding: 5px 0;
    background-color: rgb(42, 42, 42);
}

.gutter-horizontal:hover {
    cursor: ew-resize;
}

.gutter-horizontal {
    background-color: rgb(36, 36, 36);
}

/* Override default scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Customize Thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.7);
}