body {
    margin: 0;
}

.gutter {
    background-color: gray;
}

.gutter-horizontal {
    cursor: ew-resize;
}

.gutter-vertical {
    cursor: ns-resize;
}

#head {
    border-bottom: 5px solid gray;
    height: 60px;
}

#body {
    display: flex;
    height: calc(100vh - 20px - 5px);
}

#console-choice {
    border-bottom: 5px solid gray;
    height: 30px;
}

#console-content {
    height: calc(100% - 30px);
}