.emulatorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.emulatorPhone {
    flex: auto;
    text-align: center;
    overflow: auto;
}

.phone {
    border: 1px solid black;
    display: inline-block;
}

.webviewHeader {
    height: 40px;
    background-color: bisque;
}

#webviewBody {
    height: calc(100% - 40px);
    /* display: block; */
}

.emulatorAddressbar {
    flex: none;
    display: flex;
}

.emulatorAddressbar input {
    flex: auto;
}

.emulatorToolbar {
    flex: none;
}